<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxl.dao.PtadminDao">
	<resultMap id="BaseResultMap" type="com.sxl.model.Ptadmin">
		<id column="username" property="username"/>
		<id column="password" property="password"/>
		<id column="ptadminName" property="ptadminName"/>
		<id column="age" property="age"/>
		<id column="sex" property="sex"/>
		<id column="phone" property="phone"/>
	</resultMap>
	
	<insert id="insert">
		insert into t_ptadmin(username,password,ptadminName,age,sex,phone) values(#{username},#{password},#{ptadminName},#{age},#{sex},#{phone})
	</insert>
	
	<update id="update">
	 update t_ptadmin
	 <trim prefix="set" suffixOverrides=",">
	  <if test="username!=null">username=#{username},</if>
	  <if test="password!=null">password=#{password},</if>
	  <if test="ptadminName!=null">ptadminName=#{ptadminName},</if>
	  <if test="age!=null">age=#{age},</if>
	  <if test="sex!=null">sex=#{sex},</if>
	  <if test="phone!=null">phone=#{phone},</if>
	 </trim>
	 where id=#{id}
	</update>
	<select id="getById" resultMap="BaseResultMap"
		parameterType="com.sxl.model.Ptadmin">
		select * from t_ptadmin where id=#{id}
	</select>
	
	<delete id="delete">  
        delete from t_ptadmin where id=#{id}
	</delete>
	<select id="queryForList" resultMap="BaseResultMap"
		parameterType="com.sxl.model.Ptadmin">
		select * from t_ptadmin where 1=1 
	</select>
</mapper>
