<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxl.dao.KsxxDao">
	<resultMap id="BaseResultMap" type="com.sxl.model.Ksxx">
		<id column="studentId" property="studentId"/>
		<id column="title" property="title"/>
		<id column="pic" property="pic"/>
		<id column="content" property="content"/>
		<id column="showDate" property="showDate"/>
		<id column="ksdd" property="ksdd"/>
	</resultMap>
	
	<insert id="insert">
		insert into t_ksxx(studentId,title,pic,content,showDate,ksdd) values(#{studentId},#{title},#{pic},#{content},#{showDate},#{ksdd})
	</insert>
	
	<update id="update">
	 update t_ksxx
	 <trim prefix="set" suffixOverrides=",">
	  <if test="studentId!=null">studentId=#{studentId},</if>
	  <if test="title!=null">title=#{title},</if>
	  <if test="pic!=null">pic=#{pic},</if>
	  <if test="content!=null">content=#{content},</if>
	  <if test="showDate!=null">showDate=#{showDate},</if>
	  <if test="ksdd!=null">ksdd=#{ksdd},</if>
	 </trim>
	 where id=#{id}
	</update>
	<select id="getById" resultMap="BaseResultMap"
		parameterType="com.sxl.model.Ksxx">
		select * from t_ksxx where id=#{id}
	</select>
	
	<delete id="delete">  
        delete from t_ksxx where id=#{id}
	</delete>
	<select id="queryForList" resultMap="BaseResultMap"
		parameterType="com.sxl.model.Ksxx">
		select * from t_ksxx where 1=1 
	</select>
</mapper>
